<!DOCTYPE html>
<html>
<head>
    <title>Generated Itinerary</title>
    <!-- Include any CSS or JavaScript files here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        th {
            text-align: left;
            background-color: #306e85;
            color: #ffffff;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="table-responsive text-center">
            {{ html_result|safe }}
        </div>
    </div>
</body>
</html>